/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, em, img, strike, strong,  var, b, u, i, ol, ul, li, fieldset, form, article, aside, footer, header, menu, nav, {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	  background-color: transparent;
  	font-family: Helvetica, Arial, sans-serif
  }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1em; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

/* #Basic Styles
================================================== */

body {
	font-family: Helvetica;
	font-weight: 400;
	line-height: 1.75em;
	background-color:#696969 ;
	border-radius: 0.357em;
	font-size: 1em;
	/*margin: 0 0.25em;*/
	padding: 0.5em 0.5em;
	text-align: center;
	/*max-width: 90em;*/
	box-shadow: 5px 5px 5px 5px white;
}

nav {
	color: black;
}

section {
	font-weight: bold;
}

div {
	background-color: #696969;
}

a {
	border-bottom: solid 0.1em black;
	color: inherit;
	text-decoration: none;
}

a:hover {
	border-bottom-color: transparent;
	color: white;
}

h1 {
	font-size: 3em;
	line-height: 1.5em;
	text-align: center;
}

h3 {
	font-size: 2em;
	line-height: 1.0em;
	text-align: center;
}

img {
	max-width:100%;
	margin: auto;
}

ul {
	list-style-type: none;
}

li {
	text-align: left;
}

footer {
font-weight: 600;

}







